<ion-header>

  <ion-navbar>
    <ion-title>Criar Produto</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-label stacked>Placa</ion-label>
    <ion-input type="text" name="placa" 
          [(ngModel)]="model.placa"></ion-input>
  </ion-list>

  ------------------------------------------------
  <ion-list>
      <ion-label stacked>Data</ion-label>
      <ion-datetime name="dataBusca" displayFormat="DD/MM/YYYY" [(ngModel)]="data"></ion-datetime>
  </ion-list>
  <ion-list>
      <ion-label stacked>Hora</ion-label>
      <ion-input type="text" name="hora" [(ngModel)]="model.horaEntrada"></ion-input>  
  </ion-list>
  <button ion-button block (click)="grava()">Gravar</button>
</ion-content>
